.frontslide{
    border-radius: 15px;
}

.front2 {
    border-radius: 15px;

}

.center {
    text-align: center;
}

.center-margin {
    /* margin: 150px; */
    text-align: center;
}

.benefits {
    color: white;
}

.green {
    background-color: green;
}

.blue {
    background-color: rgb(0, 115, 191);
}


.btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited {
    background-color:  rgb(0, 115, 191) !important;
}

.thin {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: rgb(111, 111, 111);
}

.bold {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgb(111, 111, 111);
}

.thick {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: rgb(0, 115, 191)
}

.tiny {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: rgb(111, 111, 111);
}

i {
    font-size: 100px;
}

.background-pic {
    background-image: url('../public/images/sprayfoaminsulation.jpg');
    background-position: center;
    background-repeat: no-repeat;
    
}
.background-overlay {
    background-color: rgba(0, 0, 0, 0.9);
}

@media (min-width: 481px) and (max-width: 767px) {
  .media-center {
      text-align: center;
  }
  .media-small-image {
      width: 350px;
  }
}
  