
p {
    font-family: 'Raleway', sans-serif;
}

.frontslide{
    border-radius: 15px;
    width: 490px;
}

.front2 {
    border-radius: 15px;
    width: 500px;
}

.shadow {
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.02),
  0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 12.5px 10px rgba(0, 0, 0, 0.035),
  0 22.3px 17.9px rgba(0, 0, 0, 0.042),
  0 41.8px 33.4px rgba(0, 0, 0, 0.05),
  0 100px 80px rgba(0, 0, 0, 0.07)
;
}

.center {
    text-align: center;
}

.large-margin {
    margin: 150px 0 150px 0;
}

.benefits-list {
    background-color: yellow;
    width: 250px;
}

.white {
    color: white;
}

.green {
    background-color: green;
}

.blue {
    color: rgb(0, 115, 191)
}

.grey {
    color: rgb(111, 111, 111);
}

.btn-info, .btn-info:active, .btn-info:visited {
    background-color:  rgb(0, 113, 189) !important;
}
.btn-info:hover {
    background-color:  rgb(54, 69, 79) !important;
}

.thin {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.bold {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    /* color: rgb(111, 111, 111); */
}

.thick {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.tiny {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: rgb(111, 111, 111);
}

.background-pic {
    background-image: url('../public/images/spray_foam_2050.jpg');
    background-position: center;
    background-repeat: no-repeat;
}
.background-overlay {
    background-color: rgba(48, 48, 48, 0.9);
}

.top-opaque-bg {
    background-image: url('../public/images/footer-bg2.png');
    background-position: center;
    background-repeat: no-repeat;
}

.top-nav-gradient {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0.5368522408963585) 0%, rgba(255,255,255,1) 100%);
}

.bottom-border {
    border-bottom: solid rgba(0, 0, 0, 0.1) 1px;
}

.background-slant {
    background-image: url('../public/images/bg-slant.png');
    background-position: right;
    background-repeat: no-repeat;
}

.footer-bg-pic {
    background-image: url('../public/images/footer-bg2.png');
    background-position: center;
    background-repeat: no-repeat;
}

.gradient {
background: rgba(255,255,255, 0.9);
background: linear-gradient(0deg, rgba(255,255,255,0.9) 0%, rgba(0,95,176,0.9) 100%);
}

/* Accordion */
/* Horizontal line */
.collapsible-link::before {
    content: '';
    width: 14px;
    height: 2px;
    background: #333;
    position: absolute;
    top: calc(50% - 1px);
    right: 1rem;
    display: block;
    transition: all 0.3s;
  }
  
  /* Vertical line */
  .collapsible-link::after {
    content: '';
    width: 2px;
    height: 14px;
    background: #333;
    position: absolute;
    top: calc(50% - 7px);
    right: calc(1rem + 6px);
    display: block;
    transition: all 0.3s;
  }
  
  .collapsible-link[aria-expanded='true']::after {
    transform: rotate(90deg) translateX(-1px);
  }
  
  .collapsible-link[aria-expanded='true']::before {
    transform: rotate(180deg);
  }
  


  
/* Ipads */
@media only screen and (max-width: 1000px) {
    
    .media-center {
        text-align: center;
    }
    .background-slant {
      background-image: url('../public/images/blank-png.png');
      background-position: right;
      background-repeat: no-repeat;

    }  
    .media-blue-bg {
        background-color: #0071BD;
    }
    .media-white-text {
        color: white;
    }
    .frontslide {
        width: 350px;
        border-radius: 15px;
    }
    .front2 {
        border-radius: 15px;
        width: 350px;
    }
}

/* Mobile */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
     .media-blue-bg {
        background-color: #0071BD;
     }
}





/* Smaller screen */
/* @media (min-device-width: 400px)  {
    body {
        background-color: green;
    }
    .media-center {
        text-align: center;
    }
    .media-small-image {
        width: 350px;
    }
    .media-white-text {
        color: white;
    }
    .bg-slant-media {
      background-image: url('../public/images/bg-slant.png');
      background-position: right;
      background-repeat: no-repeat;
      background-color: #0071bd;
    }
    .bg-white {
        background-color: white;
    }
} */